#margimformadm{
	margin-top: 1000px;
	text-align: center;
}
.bordaefundo{
	background-color: white; /*cor de fundo branco*/
	max-width: 500px; /*largura do login*/
	margin: 0 auto; /*deixar login centralizado*/
	position:relative;
	padding-bottom: 50px;
	border-radius: 5px;
	
	text-align: right;

}



#margimformadm label {
	font-weight: 700;
	font-size: .8em;
	color: #000; /*cor senha e nome*/
	letter-spacing: 7px; /*afastamento do nome l o g i n*/
	text-align: right;
	line-height: 2em;
}

#margimformadm input { 
	margin-bottom: 20px;
	padding: 66px;
	border: 100px solid #ccc; /* cor da borda de escrever nome e senha*/
	border-radius: 2px;
	font-size: .9em;
	color: #000;
	text-align: right;
}

#margimformadm input:focus { /*focus* passar o mause trocar a cor para preto*/
	outline: none;
	border-color: #000;
	transition: 0.5s;
	color: #000;
	text-align: right;
}

#margimformadm .Enviar { /*botão entrar*/
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #000;
	cursor:pointer;
	outline: none;

}

.Enviar :hover {
	opacity: 0.7;
	transition: 0.5s;
}

.Enviar:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.bordaefundo{
  border: 0;
}

.texte{

	font-size: 25px;

	}






	 /*CLASSE*/


	.margimformadm{
	margin-top: 150px;
	text-align: center;
}



.margimformadm label {
	font-weight: 700;
	font-size: .8em;
	color: #000; /*cor senha e nome*/
	letter-spacing: 1px; /*afastamento do nome l o g i n*/
	text-transform: uppercase;
	line-height: 2em;
}

.margimformadm input { 
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc; /* cor da borda de escrever nome e senha*/
	border-radius: 2px;
	font-size: .9em;
	color: #000;
}

.margimformadm input:focus { /*focus* passar o mause trocar a cor para preto*/
	outline: none;
	border-color: #000;
	transition: 0.5s;
	color: #000;
}

.margimformadm .Enviar { /*botão entrar*/
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #000;
	cursor:pointer;
	outline: none;
}

#altura1{ /* aqui altera a altura da  borda de cadastro do professor */
 height:700px;
}

#altura2{ /* aqui altera a altura da  borda de cadastro do usuario */
	 height:900px;
}
#altura3{
	 height:400px;
}
